<<<<<<< HEAD
page-makna-logo {
	img{
		width: 100%;
	}
	align{
		text-align: justify;
	}
}
=======
page-makna-logo {
	img{
		width: 100%;
	}
	align{
		text-align: justify;
	}
}
>>>>>>> 0ca5c71844cafc5f9653ee9529f6b3efc71b9254
